.LoginStyle {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
}

.MainStyle {
   padding-top: 60px;
   padding-left: 20px;
   padding-bottom: 60px;
   height: "100%";
}

.center {
   text-align: center;
}

.LeftBorder30 {
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.ItemCardImageStyle {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}
