.LoginStyle {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
}

.MainStyle {
   padding-top: 60px;
   padding-left: 20px;
}

.center {
   text-align: center;
}

.LeftBorder30 {
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}
